# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# MSTest Test Results
[Tt]est[Rr]esult*/

# Build logs
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
*.cache
*.cd
*.cxxdefaults
*.dll
*.exe
*.lib

# Visual Studio files
*.vs/
